<section>

  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of countries(); track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td><img
              [src]="item.flag"
              [alt]="item.name"
              style="width: 15px; height: 10px; object-fit: cover;"
            /></td>
          <td>
            <img
              [src]="item.flag"
              [alt]="item.name"
              style="width: 30px; height: 20px; object-fit: cover;"
            />
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.capital }}</td>
          <td>
            <span
              class="badge badge-outline"
              [class.badge-danger]="item.population > 200000000"
              [class.badge-warning]="item.population >= 50000000 && item.population <= 200000000"
              [class.badge-success]="item.population < 50000000"
            >
              {{ item.population | number }}
            </span>
          </td>
          <td>
            <a
              [routerLink]="['/country/by', item.cca2]"
              class="link-primary transition duration-300 ease-in-out hover:scale-110 inline-block">Mas información</a>
          </td>
        </tr>
      }
    </tbody>
  </table>

</section>
